@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border border-red-600 p-8 rounded-md; /* Tailwind CSS classes */
}

* {
  scroll-behavior: smooth;
}

:root {
  --blue-40: 229, 242, 255, 1; /* Example RGB value */
  --blue-50: 143, 160, 228, 0.761;
  --blue-100: 240, 243, 255; /* #F0F3FF */
  --blue-200: 206, 231, 255;
  --blue-300: 120, 160, 220;
  --blue-400: 240, 243, 255;
  --blue-500: 107, 114, 128;
  --blue-700: 55, 65, 81;
  --blue-800: 213, 221, 253;
  --blue-default: 82, 100, 173;
}

/* US Region */
.region-middle-east {
  --blue-40: 46, 204, 113, 0.85; /* Light green with transparency */
  --blue-50: 24, 91, 81, 1; /* Slightly darker green with transparency */
  --blue-100: 215, 245, 241, 1; /* Very light green tint */
  --blue-200: 200, 230, 201; /* Soft pastel green */
  --blue-300: 129, 199, 132; /* Medium-light green */
  --blue-400: 215, 245, 241, 1; /* Lighter mid-green */
  --blue-500: 76, 175, 80; /* Default green */
  --blue-700: 56, 142, 60; /* Darker green */
  --blue-800: 46, 125, 50; /* Deep green */
  --blue-default: 24, 91, 81, 1; /* Standard green */
}

/* EU Region */
.region-île-de-france {
  --blue-40: 183, 213, 203;
  --blue-50: 17, 87, 64;
  --blue-100: 17, 87, 64, 1;
  --blue-200: 206, 231, 255;
  --blue-300: 209, 213, 219;
  --blue-400: 183, 213, 203;
  --blue-500: 107, 114, 128;
  --blue-700: 55, 65, 81;
  --blue-800: 31, 41, 55;
  --blue-default: 17, 87, 64;
}

/* Asia Region */
html.region-europe {
  --blue-40: 229, 242, 255; /* Example RGB value */
  --blue-50: 0, 51, 153, 0.73;
  --blue-100: 234, 241, 255, 1;
  --blue-200: 206, 231, 255;
  --blue-300: 120, 160, 220;
  --blue-400: 112, 159, 255, 1;
  --blue-500: 107, 114, 128;
  --blue-700: 55, 65, 81;
  --blue-800: 31, 41, 55;
  --blue-default: 0, 51, 153, 1;
}

/* [lang="en"] {
  --blue-40: 63, 113, 203;
  --blue-50: 87, 87, 64;
  --blue-100: 30, 153, 132;
  --blue-200: 806, 231, 255;
  --blue-300: 509, 213, 219;
  --blue-400: 255, 0, 0;
  --blue-500: 207, 114, 128;
  --blue-700: 95, 65, 81;
  --blue-800: 71, 41, 55;
  --blue-default: 47, 87, 74;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* .mainbanner .container,
nav.container {
  max-width: 1740px;
} */

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev {
  margin-left: 18px;
}
.swiper-button-prev::after {
  content: "" !important;
  display: block;
  background-image: url("/SwiperLeftIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  border-radius: 10px;
  margin-left: 30px;
  background-color: rgba(213, 221, 253, 0.9);
}
.swiper-button-next {
  margin-right: 15px;
}
.swiper-button-next::after {
  content: "" !important;
  display: block;
  background-image: url("/SwiperRightIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  margin-left: -30px;
  border-radius: 10px;
  background-color: rgba(213, 221, 253, 0.9);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.privacy a {
  color: #333343;
  text-decoration: underline !important;
  font-weight: 600;
}
.blog-author a {
  font-weight: 400;
  text-decoration: none !important;
}
.privacy p {
  color: #575757;
  font-size: 16px;
  margin-bottom: 18px;
  line-height: 30px;
  font-weight: 400;
}

.privacy h1 {
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 54px;
}
.privacy h2 {
  font-size: 24px;
  margin: 25px 0 10px;
  line-height: 32px;
  color: #333343;
  font-weight: 600;
  scroll-margin: 144px;
}

.privacy h3 {
  font-size: 20px;
  margin: 30px 0 15px;
  line-height: 15px;
  color: #333343;
  font-weight: 600;
}

.privacy h4 {
  font-size: 18px;
  margin: 30px 0 15px;
  line-height: 15px;
  color: #333343;
  font-weight: 600;
}

.privacy ul {
  color: #575757;
  list-style: disc;
  padding-left: 35px;
  margin: 15px 0;
}

.privacy ul li {
  color: #575757;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 30px;
  font-weight: 400;
}

.privacy ul li strong {
  color: #333343;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 37px;
  font-weight: 600;
}

.privacy ol {
  color: #575757;
  list-style: auto;
  padding-left: 35px;
  margin: 15px 0;
}

.privacy ol li {
  color: #575757;

  font-size: 16px;
  margin-bottom: 5px;
  line-height: 30px;
  font-weight: 400;
}

.privacy ol li strong {
  color: #333343;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 37px;
  font-weight: 600;
}

.custom-sidebar-underline a {
  text-decoration: none !important;
}

@media (max-width: 1024px) {
  .privacy p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .privacy h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .privacy h2 {
    font-size: 22px;
    line-height: 35px;
    margin: 35px 0 10px 0;
    font-weight: 600;
  }

  .privacy h3 {
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0 15px 0;

    font-weight: 600;
  }

  .privacy ul {
    list-style: disc;
    padding-left: 40px;
    margin: 20px 0;
  }

  .privacy ul li {
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 30px;
    font-weight: 400;
    font-weight: 400;
  }

  .privacy ul li strong {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 37px;
    font-weight: 700;
  }

  .privacy ol {
    list-style: auto;
    padding-left: 40px;
    margin: 20px 0;
  }

  .privacy ol li {
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 30px;
    font-weight: 400;
    font-weight: 400;
  }

  .privacy ol li strong {
    color: #333343;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 37px;
    font-weight: 400;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .privacy p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .privacy h1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 24px;
  }
  .privacy h2 {
    font-size: 22px;
    line-height: 32px;
    margin: 26px 0 10px 0;
    font-weight: 600;
  }

  .privacy h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 25px 0 10px 0;
    font-weight: 600;
  }

  .privacy ul {
    list-style: disc;
    padding-left: 24px;
    margin: 20px 0;
  }

  .privacy ul li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 26px;
 
    font-weight: 400;
  }

  .privacy ul li strong {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 25px;
    font-weight: 600;
  }

  .privacy ol {
    list-style: auto;
    padding-left: 24px;
    margin: 20px 0;
  }

  .privacy ol li {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 26px;
    font-weight: 400;
    font-weight: 400;
  }

  .privacy ol li strong {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 25px;
    font-weight: 400;
    font-weight: 600;
  }

  .blog-detail h1 {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 34px;
  }
  .blog-detail h2 {
    font-size: 22px;
    margin: 14px 0;
    font-weight: 600;
    line-height: 30px;
  }
  .blog-detail h3 {
    font-size: 18px;
    color: #333343;
    margin: 14px 0;
    font-weight: 600;
    line-height: 28px;
  }
  .blog-detail ol li strong {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333343;
    line-height: 36px;
    font-weight: 700;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer components {
  .sub-menu {
    @apply absolute top-[5.5rem] p-[20px] rounded-[20px] origin-[50%_-170px] bg-[rgba(255,255,255,0.6)];
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .text-balance {
    text-wrap: balance;
  }
  .container {
    max-width: 1480px;
    width: 100%;
  }

  .bg-nav-transparent {
    background-color: rgba(255, 255, 255, 0);
  }
  .FeatureSectionHeading {
    font-size: 40px;
    font-weight: bold;
    color: #333343;
    line-height: 43px;
  }
  .FeatureSectionHeadingResponsvie {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333343;
    line-height: 30px;
  }
  .FeatureSectionContent {
    color: #575757;
    font-weight: 400;
    font-size: 22px;
  }
  .FeatureSectionContentResponsvie {
    color: #575757;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  .rounded-20 {
    border-radius: 20px;
  }
  .rounded-14 {
    border-radius: 14px;
  }

  .rounded-tl {
    border-radius: 20px 0 0 0;
  }
  .rounded-tr {
    border-radius: 0px 20px 0 0;
  }
  .SolutionSwiper {
    padding: 20px !important;
  }
  .plan-container {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  .FaqSwiper {
    padding: 20px !important;
  }

  .h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 28.6px;
    color: #333343;
  }
  .h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 28.6px;
    color: #333343;
  }
  p {
    font-size: 16px;
    line-height: 28.6px;
    margin-bottom: 16px;
    color: #575757;
    font-weight: 400;
  }

  .para {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .TeamSwiper {
    padding: 20px 50px 20px 20px !important;
  }
  .text-16 {
    font-size: 16px;
    line-height: 26px;
  }
  .text-18 {
    font-size: 18px;
    line-height: 28px;
  }
  .text-20 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-22 {
    font-size: 22px;
    line-height: 32px;
  }

  .text-24 {
    font-size: 24px;
    line-height: 35px;
  }

  .text-26 {
    font-size: 26px;
    line-height: 35px;
  }

  .text-30 {
    font-size: 30px;
    line-height: 26px;
  }

  .text-34 {
    font-size: 34px;
    line-height: 38px;
  }

  .text-48 {
    font-size: 48px;
    line-height: 58px;
  }
  .text-40 {
    font-size: 40px;
    line-height: 50px;
  }

  .text-32 {
    font-size: 32px;
    line-height: 40.32px;
  }
  .text-60 {
    font-size: 60px;
    line-height: 80.32px;
  }
  .text-70 {
    font-size: 70px;
    line-height: 80.32px;
  }
  .text-3xl {
    font-size: 32px;
    line-height: 40px;
  }
  .text-2xl {
    font-size: 26px;
    line-height: 35px;
  }

  .text-xl {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .CustomerSlider {
    padding: 20px 30px 40px 0px !important;
  }
  .box-shadow-custom {
    box-shadow: 0px 8px 18px 0px #5264ae5b;
  }
  .box-shadow-faq {
    box-shadow: 1px 5px 14px 2px rgba(19, 61, 131, 0.16);
  }
  .integration-box {
    box-shadow: none !important;
  }
}
select {
  position: relative;
}
/* select .DeFlag::after {
  content: "test";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-color: red;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

html.region-asia {
  --primary-bg-color: #00ff00; /* Green for Asia */
  --primary-text-color: #006400;
}

.blue-40 {
  background-color: rgb(var(--blue-40));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input,
  textarea {
    @apply border border-red-600 p-8 rounded-md; /* Tailwind CSS classes */
  }
}

/* backup code for the above code */

.blog a {
  color: #333343;
  text-decoration: underline;
}
.blog p {
  color: #575757;
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 30px;
  font-weight: 400;
}

.blog h1 {
  color: #333343;
  font-size: 48px;
  margin-bottom: 15px;
  line-height: 58px;
}
.blog h2 {
  font-size: 32px;
  color: #333343;
  margin: 35px 0 10px 0;
  font-weight: 600;
  line-height: 32px;
}

.blog h3 {
  font-size: 26px;
  margin: 30px 0 15px 0;
  line-height: 15px;
  color: #333343;
  font-weight: 600;
}

.blog ul {
  color: #575757;
  list-style: disc;
  padding-left: 20px;
  margin: 20px 0;
}

.blog ul li {
  color: #575757;
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 30px;
  font-weight: 400;
  font-weight: 400;
}

.blog ul li strong {
  color: #333343;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 37px;
  font-weight: 400;
}

.blog ol {
  color: #575757;
  list-style: auto;
  padding-left: 20px;
  margin: 20px 0;
}

.blog ol li {
  color: #575757;

  font-size: 18px;
  margin-bottom: 0px;
  line-height: 30px;
  font-weight: 400;
  font-weight: 400;
}

.blog ol li strong {
  color: #333343;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 37px;
  font-weight: 400;
  font-weight: 700;
}

.blog-detail p {
  color: #575757;
}

.blog-detail h1 {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 37px;
}

.blog-detail h2 {
  font-size: 26px;
  color: #333343;
  margin: 15px 0;
  font-weight: 600;
  line-height: 32px;
}
.blog-detail h3 {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 28px;
  color: #333343;
  font-weight: 600;
}

.blog-detail h4 {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 22px;
  font-weight: 600;
  color: #333343;
}
.blog-detail ol {
  list-style: auto;
  padding-left: 20px;
}

.blog-detail ul {
  list-style: disc;
  padding-left: 20px;
}

.blog-detail ol li {
  margin-bottom: 10px;
  color: #575757;
}
.blog-detail ul li {
  margin-bottom: 10px;
  color: #575757;
}

.blog-detail ol li strong {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333343;
  line-height: 25px;
  font-weight: 700;
}

.blog-detail ul li strong {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333343;
  line-height: 25px;
  font-weight: 700;
}
